*{
    margin: 0;
    padding: 0;
}

.bio {
    background: linear-gradient(rgba(58, 23, 0, 0.4), rgba(58, 23, 0, 0.4)),url(images/brick-background.jpg);
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-image {
    height: 320px;
    width: 320px;
    object-fit:cover;
    object-position: 50% 20%;
    border-radius: 100%;
    border: 5px solid #DDBBC0;
}

.bio-text {
    color: rgba(255, 255, 255, 0.8);
    width: 60%;
    padding-left: 10%;
}

.profile-image-container {
    padding-right: 10%;
    padding-top: 25%;
}

.bio-text-header {
    font-size: 3rem;
    font-family: 'Playfair Display';
}

.bio-text-subheading {
    font-size: 1.5rem;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}