*{
    margin: 0;
    padding: 0;
}

.bio {
    background: linear-gradient(rgba(58, 23, 0, 0.2), rgba(58, 23, 0, 0.2)),url(images/brick-background.jpg);
    height: 450px;
    display: flex;
}

.profile-image {
    height: 320px;
    width: 320px;
    object-fit:cover;
    object-position: 50% 20%;
    border-radius: 100%;
}

.bio-text {
    color: rgba(255, 255, 255, 0.8);
}